@charset "UTF-8";

/*
    Paleta de Cores
    #855F82
    #D1ABCE
    #856082
    #6A855F
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #856082;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}